<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITCollabHub"
        tools:targetApi="26">
        <activity
            android:name=".EditProblemPurpose"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateProject2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Advertisment"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditAdvertisment"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProjectAdvertisments"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ControlPanel2"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditFile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProjectFiles"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProblem"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProblemsParticip"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PurposeParticipiant"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Problems"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Purpose"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProjectRequests"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ControlPanel"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProject"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".UsersProject"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateProject"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ActivityProject"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GetFriend"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FriendProfile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ConfirmForgotPassword"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Forgot"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ConfirmReg"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/rounded" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>